@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=The+Nautigal:wght@700&display=swap');
html *
{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

html {
    scroll-behavior: smooth;
}

div#footer {
    text-align: center;
    color: white;
    padding-top: 80px;
    padding-bottom: 10px;
}

li, a, button, h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #e5989b;
    text-decoration: none;
    list-style-type: none;
}

.container-text ul {
    border-radius: var(--radius);
    box-sizing: border-box;
    box-shadow: 0 0 4px #000000;
    width: 30%;
    text-align: center;
    margin: auto;
    padding: 1rem 0;
    background-color: #6d6875;
}

.container-text h3 {
    line-height: 2.0;
}

.container-text ul li {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 2.0;
}

.main-container {
    max-width: 1250px;
    margin: auto;
    padding: 1rem 0;
}

.main-content {
    background: transparent;
    border-radius: var(--radius);
    box-sizing: border-box;
    box-shadow: 0 0 20px #000000;
}

.sub-container {
    background: url(bg.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav.scrolled {
    background: url(bg.webp) no-repeat center center fixed;
    opacity: 0.9;
    transition: background-color 200ms linear;
    background-size: 100%;
    transition: margin 200ms;
    margin-top: -20px;
  }

nav {
    left: 50%;
    display: table;
    position: fixed;
    transform: translateX(-50%);
    width: 100%;
    margin: 0;
    max-width: 1250px;
    padding: 1rem 0;
    border-radius: var(--radius);
    transition: margin 200ms;
    transition: background-color 200ms linear;
}

nav ul li {
    color: #e5989b; 
    padding-right: 8%;
    display: inline-flex;
    padding-left: 10%;
}

body {
    margin: 0;
    background-color: #FAF9F6;
}

.intro-text {
    text-align: center;
    vertical-align: middle;
    padding-top: 17%;
    padding-bottom: 15%;
    position: inherit;
    color: white;
    font-family: 'The Nautigal', cursive;
    font-size: 60px;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
     -ms-animation: fadein 3s; /* Internet Explorer */
      -o-animation: fadein 3s; /* Opera < 12.1 */
         animation: fadein 3s;
}


.container-text {
    text-align: center;
    vertical-align: middle;
    position: inherit;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 1rem 0;
}

.centered-content {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    opacity: 0.5;
}

.styled-form {
    margin: 0 auto;
    background-color: #1F1F1F;
    max-width: 880px;
    border-radius: 25px;
    color: white;
}

.form-content {
    margin: 0 auto;
    max-width: 580px;
}


@keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}